@mixin blossom {
  .test {
    background-color: gray;
  }

  .login-form{
    border-style: solid;
    border-width: 2px;
    border-radius:10px;
    padding: 40px;
  }

  .v-button-in-table{
    padding: 2px;
    border-width: 0px;
    border: none;
  }

  .v-button-borderless:after{
    display: none;
  }
}