@mixin blossom {
  .test {
    background-color: gray;
  }

  .login-form{
    border-style: solid;
    border-width: 2px;
    border-radius:10px;
    padding: 40px;
  }

  .v-button-in-table{
    padding: 2px;
    border-width: 0px;
    border: none;
  }

  .v-button-borderless:after{
    display: none;
  }

  $tableSelectionColor : #46906c;
  //$tableSelectionColor : #000;
  $tableFontColor :#FFFFFF;
  .v-table .v-selected[class*="-row"] {
    background-color: $tableSelectionColor;
    background-image: none;
    background-origin: border-box;
    color: $tableFontColor;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05);
  }

  .side-bar-body{
    position: absolute;
    top:6rem;
    left: 0;
    bottom: 4rem;
    width: 100%;
    //margin-bottom: 4rem;
    //margin-top: 4rem;
  }

  .side-bar-footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-left: 1rem;
    margin-top: 4rem;
  }


}